<!DOCTYPE html>
<html>
<head>
    <title>Subscription Plans</title>
    <link rel="stylesheet" href="{% static 'forecast/css/index_style.css' %}">
</head>
<body>
    <h1>Subscription Plans</h1>
    <div>
        <h2>Free Version</h2>
        <p>Access to table data and images for tickers SPY, DIA, and QQQ.</p>
        <a href="{% url 'forecast:subscribe_free' %}">Subscribe for Free</a>
    </div>
    <div>
        <h2>Professional Version</h2>
        <p>Full access to the app.</p>
        <h3>$30/Monthly</h3>
        <a href="{% url 'forecast:subscribe_pro_monthly' %}">Subscribe Monthly</a>
        <h3>$150/Semiannually</h3>
        <a href="{% url 'forecast:subscribe_pro_semiannually' %}">Subscribe Semiannually</a>
        <h3>$300/Annually</h3>
        <a href="{% url 'forecast:subscribe_pro_annually' %}">Subscribe Annually</a>
        <p>Payment Options: Credit Card, Bitcoin, Ethereum</p>
    </div>
    <div class="disclaimer">
        <p>Subscription will automatically renew when it expires.</p>
    </div>
</body>
</html>
