body {
    background-color: black;
    color: orange;
    font-size: 100%;
}
h1 {
    background-color: black;
    color: orange;
    font-size: 6.0em;
}
h2 {
    background-color: black;
    color: orange;
    font-size: 3.0em;
}
h3 {
    background-color: black;
    color: orange;
    font-size: 1.5em;
}
a:link {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
.disclaimer {
    position: absolute;
    bottom: 0;
}
