<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Forecast Application{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forecast/css/index_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    {% block extra_css %}{% endblock %}
    <style type="text/css">{% block inline_style %}{% endblock %}</style>
</head>
<body>
    {% block body %}
    <!-- Content from child templates will be inserted here -->
    {% endblock %}
    <div class="disclaimer">
        <p><h4>
        Disclaimer: Nothing in this application should be interpreted as investment advice or a recommendation to buy or sell a
        security. No guarantees are made regarding the accuracy or reliability of the data or forecasts. We accept no
        liability for any actions made based on any data or forecasts from this application. This application is for purely
        research purposes only. Invest at your own risk.
        </h4></div>
    </div>
</body>
</html>
