.auth-title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}

.auth-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-socials a {
    display: flex;
    justify-content: center;
    color: var(--white);
    align-items: center;
    height: calc(24px + 10px * 2);
    line-height: 24px;
    padding: 10px 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--border-color);
    text-decoration: none;
    text-transform: none;
}

.auth-socials a .social-icon {
    margin-right: 7px;
}

.auth-socials a .social-icon svg {
    display: block;
    height: 20px;
    width: 20px;
}

.auth-socials a .social-title {

}

.auth-divider {
    margin: 25px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--text-grey);
}

.auth-form {

}

.auth-form .btn:last-child {
    margin-top: 15px;
}

.auth-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}