/* layout */

body.auth {
    color: #F0F0F0;
    background-color: var(--background);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary);
}

a,
a:hover,
a:active,
a:visited {
    color: var(--primary);
    text-decoration: none;
    text-transform: none;
}

.auth-page {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container {
    max-width: 380px;
    width: 100%;
}

/* form */

.auth-title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}

.auth-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-socials a {
    display: flex;
    justify-content: center;
    color: var(--white);
    align-items: center;
    height: calc(24px + 10px * 2);
    line-height: 24px;
    padding: 10px 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--border-color);
    text-decoration: none;
    text-transform: none;
}

.auth-socials a .social-icon {
    margin-right: 7px;
}

.auth-socials a .social-icon svg {
    display: block;
    height: 20px;
    width: 20px;
}

.auth-socials a .social-title {

}

.auth-divider {
    margin: 25px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--text-grey);
}

.auth-form {

}

.auth-form .btn:last-child {
    margin-top: 15px;
}

.auth-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}