<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forecast Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forecast/css/index_style.css' %}">
    <style type="text/css"></style>
</head>
<body>
<p><h1><b>FORECAST APPLICATION</b></h1></p>
<p><h2>
    Click below to see 1) 5-year annualized return forecasts for selected equity ETFs and common stocks based on the
    <a href="{% static 'media/The Shiller CAPE Ratio A New Look.pdf' %}" target="_blank">Cyclically-Adjusted Price/Earnings (CAPE)</a>
     ratio, and 2) Expected returns for bond ETFs computed using the
    <a href="{% static 'media/Aggregate Cash Flow Method For Yield and Duration for Bond ETFs.pdf' %}" target="_blank">Aggregate Cash Flow (ACF) Method</a>.
</h2></p>
<h1><a href="{% url 'forecast:equity_etf_table' %}">Equity ETF Forecasts</a> &#8592; Click</h1>
<h1><a href="{% url 'forecast:common_stock_table' %}">Common Stock Forecasts</a> &#8592; Click</h1>
<h1><a href="{% url 'forecast:bond_etf_table' %}">Bond ETF Forecasts</a> &#8592; Click</h1>
<!--<h1><a href="{% url 'forecast:outliers_table' %}" target="_blank">Outlier Forecasts</a> &#8592; Click</h1>-->
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
  <h1><a href="{% url 'forecast:subscribe' %}">Subscribe</a> &#8592; Click</h1>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login</a>
{% endif %}
<div class="disclaimer"><p><h3>
    Disclaimer: Nothing in this application should be interpreted as investment advice or a recommendation to buy or sell a
    security. No guarantees are made regarding the accuracy or reliability of the data or forecasts. We accept no
    liability for any actions made based on any data or forecasts from this application. This application is for purely
    research purposes only. Invest at your own risk.
</h3></p></div>
</body>
</html>
