<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAPE Charts</title>
    <style>{% load static %}</style>
</head>
<body>
<img src="{% static 'forecast/images/sample_regression_NDQ.png' %}" alt="sample_regression"/>
<img src="{% static 'forecast/images/sample_observed_forecast_NDQ.png' %}" alt="sample_observed_forecast"/>
<img src="{% static 'forecast/images/long_term_pe_ratio_NDQ.png' %}" alt="long_term_pe_ratio"/>
<img src="{% static 'forecast/images/expected_fwd_return_5y_NDQ.png' %}" alt="expected_fwd_return"/>
</body>
</html>
