<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAPE Charts</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forecast/css/forecast_charts_style.css' %}">
    <style type="text/css">
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<nav>
  <ul>
    <li><a class="nav" href="{% url 'forecast:index' %}">Home</a></li><br><br>
    <li><a class="nav" href="{% url 'forecast:forecast_table' %}">Forecasts</a></li><br>
  </ul>
</nav>
<div class="grid-container">
    <img class="grid-item" src="{% static 'forecast/images/' %}{{charts.sample_regression_chart}}" alt="sample_regression"/>
    <img class="grid-item" src="{% static 'forecast/images/' %}{{charts.sample_observed_forecast_chart}}" alt="sample_observed_forecast"/>
    <img class="grid-item" src="{% static 'forecast/images/' %}{{charts.long_term_pe_ratio_chart}}" alt="long_term_pe_ratio"/>
    <img class="grid-item" src="{% static 'forecast/images/' %}{{charts.expected_fwd_return_chart}}" alt="expected_fwd_return"/>
</div>
</body>
</html>
