<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAPE Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forecast/css/index_style.css' %}">
    <style type="text/css"></style>
</head>
<body>
<p><h1><b>CAPE FORECAST APPLICATION</b></h1></p>
<p><h2>
    Click below to see 5-year annualized return forecasts for selected equity ETFs based on the
    Cyclically-Adjusted Price/Earnings (CAPE) Ratio. Visit the project's
    <a href="https://github.com/nathanramoscfa/cape" target="_blank">GitHub</a> page to learn more.
</h2></p>
<h1><a href="{% url 'forecast:forecast_table' %}">Forecasts</a> &#8592; Click</h1><br><br>
<div class="disclaimer"><p><h3>
    Disclaimer: Nothing in this application should be interpreted as investment advice or a recommendation to buy or
    sell a security. No guarantees are made regarding the accuracy or reliability of the data or forecasts. This
    application is for purely research purposes only. Invest at your own risk.
</h3></p></div>
</body>
</html>
